<header>
    <div class="img_header5">
        <div class="wrapper_header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="mobile_menu">
                <%= image_tag("logo2.png", id:'mobile_nav_logo') %>
                <%= image_tag("x.png", id:'x_logo') %>
                <div>
                    <ul>
                        <li><a href="/mypage">안녕하세요! 비회원님</a></li>
                        <li><a href="/service">서비스</a></li>
                        <li><a href="/doum">도움말</a></li>
                        <li><a href="enroll_mentor">멘토 등록하기</a></li>
                    </ul>            
                </div>
            </div>
            
            <div class="mobile_header">
                <%= image_tag("mobile_menu.png" , id: 'mobile_menu_logo') %>
                <a class="mobile_brand" href="#page-top">
                    <%= image_tag("logo.png", id:'mobile_logo') %>
                </a>
            </div>
        
            <div class="basic_header">
                <div class="logo">
                    <a href="/">
                    <%= image_tag("logo.png" , id:'logo')  %>
                    </a>
                </div>
                <div class="menu">
                    <nav>
                        <div class="nav">
                            <div class="li menu_service"><a href="/service" class="li_a">서비스</a></div>
                            <div class="li menu_help"><a href="/help" class="li_a">도움말</a></div>
                            <div class="li menu_user">
                                <a href="/mypage" class="li_a ">안녕하세요! <%= @user.username %>님</a>
                                <div class="user_scroll">
                                    <ul>
                                        <li class="my_page"><a href="/mypage">마이페이지</a></li>
                                        <li class="log_out"><a href="/users/sign_out">로그아웃</a></li>
                                    </ul>
                                </div>
                            </div>
                            <% if @user.grade == 1 %>
                            <div class="li menu_admin"><a href="/admin" class="li_a ">관리자 페이지</a></div>
                            <% end %>
                            <div class="li menu_enroll"><a href="enroll_mentor" class="li_a nav_enroll_mentor">멘토 등록하기</a></div>                     
                        </div>
                    </nav>
                </div>     
            </div>
            <div class="">
                <div class="my_page_p">
                    <h1>MENTOR PAGE</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
	<div class="wrapper_section2 margin_plus2">
		<h2 class="text_center"> 멘토링 요청 가져오기 </h2>

		<div class="panel panel-default">
			<div class="panel-body">
				<form action="/mentoring_process2" method="post">
					<input type="hidden" value ="<%= @user.id %>" name="id_of_user">
					<!--지역-->
					<div class="form-group">
						<label for="mentor_area"> 가고 싶은 지역 (지도 API 넣기 ) </label>
						<input type="text" class="form-control enroll_input" name="mentor_area" id="mentor_area" placeholder="나라 혹은 도시">
					</div>

					<!-- 날짜 -->
					<div class="form-group">

						<script>
							$(function() {
								$("#datepicker1, #datepicker2").datepicker({
									dateFormat : 'yy-mm-dd'
								});
							});
						</script>

						<p>
							<label for="mentor_period">여행 일정 </label>
							<input type="text" id="datepicker1" name="from">
							~
							<input type="text" id="datepicker2" name="to">
						</p>
					</div>
					<!-- 여행 인원 -->
					<div class="form-group">
						<label for="mentor_area"> 여행 인원 (선택 ) </label>
						<input type="text" class="form-control enroll_input" id="" name ="numOfMem">
					</div>
					<!--여행 테마 -->
					<div class="form-group">
						<label for="mentor_area"> 여행 테마 ( 사진 + text + checkbox? ) </label>
						<input type="text" class="form-control enroll_input" id="" name="themeOfPlan">
					</div>

					<div class="form-group">
						<label for="mentor_content"> 예산 범위 </label>
						<textarea class="form-control" name = "budget"  rows="10"></textarea>
					</div>
					<div class="form-group">
						<label for="mentor_area"> 숙박 유형 (사진 + 호텔, 호스텔 , 민박, 펜션 ,기타 , 섞어서 등등 ) </label>
						<input type="text" class="form-control enroll_input" name="accomodation" placeholder="나라 혹은 도시">
					</div>
					
					<div class="form-group">
						<label for="mentor_content">멘토에게 하고 싶은 말 </label>
						<textarea class="form-control" name = "mentor_content" id="mentor_content" rows="10"></textarea>
					</div>
					
					<br>

					<button type="submit" class="btn btn-default enroll_mentor_button ">
						견적서 제출하기 
					</button>
				</form>
			</div>
		</div>

	</div>
</section>
