<header>
    <div class="img_header5">
        <div class="wrapper_header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="mobile_menu">
                <%= image_tag("logo2.png", id:'mobile_nav_logo') %>
                <%= image_tag("x.png", id:'x_logo') %>
                <div>
                    <ul>
                        <li><a href="/mypage">안녕하세요! 비회원님</a></li>
                        <li><a href="/service">서비스</a></li>
                        <li><a href="/doum">도움말</a></li>
                        <li><a href="enroll_mentor">멘토 등록하기</a></li>
                    </ul>            
                </div>
            </div>
            
            <div class="mobile_header">
                <%= image_tag("mobile_menu.png" , id: 'mobile_menu_logo') %>
                <a class="mobile_brand" href="#page-top">
                    <%= image_tag("logo.png", id:'mobile_logo') %>
                </a>
            </div>
        
            <div class="basic_header">
                <div class="logo">
                    <a href="/">
                    <%= image_tag("logo.png" , id:'logo')  %>
                    </a>
                </div>
                <div class="menu">
                    <nav>
                        <div class="nav">
                            <div class="li menu_service"><a href="/service" class="li_a">서비스</a></div>
                            <div class="li menu_help"><a href="/help" class="li_a">도움말</a></div>
                            <div class="li menu_user">
                                <a href="/mypage" class="li_a ">안녕하세요! <%= @user.username %>님</a>
                                <div class="user_scroll">
                                    <ul>
                                        <li class="my_page"><a href="/mypage">마이페이지</a></li>
                                        <li class="log_out"><a href="/users/sign_out">로그아웃</a></li>
                                    </ul>
                                </div>
                            </div>
                            <% if @user.grade == 1 %>
                            <div class="li menu_admin"><a href="/admin" class="li_a ">관리자 페이지</a></div>
                            <% end %>
                            <div class="li menu_enroll"><a href="enroll_mentor" class="li_a nav_enroll_mentor">멘토 등록하기</a></div>                     
                        </div>
                    </nav>
                </div>     
            </div>
            <div class="">
                <div class="my_page_p">
                    <h1>MENTOR PAGE</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
	<div class="contaioner">
		<div class="wrapper_section2 margin_plus2">
			<h2 class="text_center"> 멘토링 수락 </h2>
			<div class="panel panel-default">
				<div class="panel-body">
											
					<form  method = "get" action="/mentor_view/reply_admit2">
						<p> 멘토링 비용을 얼마에 제안하시겠습니까? </p>
						<br>
				        <div class="form-inline"><input type="number" name="cost" class="form-control" placeholder="비용 ($)">
				        <input type="hidden" value ="<%= @list_id %>" name="list_id">
				        <input type="hidden" value ="<%= @index_id %>" name="index_id">
				        <input type="hidden" value ="0" name="result">
				        <button type="submit" class="btn btn-primary"> 제안하기 </button>
				        </div>
				    </form>					
				</div>
			</div>
	
		</div>
	</div>
</section>
