<!--견적서를 보내고나서 대기타는 부분 -->


<header>
	<div class="img_header5">
		<div class="wrapper_header">
			<!-- Brand and toggle get grouped for better mobile display -->

			<div class="basic_header">
				<div class="logo">
					<a href="/"> <%= image_tag("logo.png" , id:'logo')  %> </a>
				</div>
				<div class="menu">
					<nav>
						<div class="nav">
							<div class="li menu_service">
								<a href="/service" class="li_a">서비스</a>
							</div>
							<div class="li menu_help">
								<a href="/help" class="li_a">도움말</a>
							</div>
							<div class="li menu_user">
								<a href="/mypage" class="li_a ">안녕하세요! <%= @user.username %>님</a>
								<div class="user_scroll">
									<ul>
										<li class="my_page">
											<a href="/mypage">마이페이지</a>
										</li>
                    <% if @user.grade == 2 %>
                        <li class="mentoring_page"><a href="/mentor_view">멘토페이지</a></li>
                    <% end %>
										<li class="log_out">
											<a href="/users/sign_out">로그아웃</a>
										</li>
									</ul>
								</div>
							</div>
							<% if @user.grade == 1 %>
							<div class="li menu_admin">
								<a href="/admin_all" class="li_a ">관리자 페이지</a>
							</div>
							<% end %>
							<div class="li menu_enroll">
								<a href="enroll_mentor" class="li_a nav_enroll_mentor">멘토 등록하기</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
</header>
<article>
  <section>
    <div class="wrapper_section2 margin_plus2">
      <h2 class="text_center"> 2. 견적서 작성 완료  </h2>
      <div class="mentoring_success_div">
        <div class="panel panel-default sheet_list">
          <div class="panel-body">
            <p><%= @user.username %>님의 견적서 </p>
            <h4>여행 지역</h4>
            <%= @a.mentor_area %>
            <h4>여행 일정</h4>
            <%= @a.from %> ~ <%= @a.to %>
            <h4>여행 인원</h4>
            <%= @a.numOfMem %>
            <h4>여행 유형</h4>
            <%= @a.themeOfPlan %>
            <h4>예산 범위</h4>
            <%= @a.budget %>
            <h4>숙박 유형</h4>
            <%= @a.accomodation %>
            <h4>추가 요청 사항</h4>
            <%= @a.mentor_content %>
          </div>
        </div>
        <div class="panel panel-default mentor_list">
          <p>멘토 선택</p>
          <h5>견적서를 보낼 멘토들을 선택해주세요. (최대 20명)</h5>
          <form action="/mentoring_process3" method="POST">
            <input type="hidden" value="<%= @a.user_id %>" name="id_of_user">
            <input type="hidden" value ="<%= @a.id %>" name="id_of_applylist">
            <div class="form-group">
              <div class="mentor_list_content">
                <input type="checkbox" name="chk_info[]" value="<%= @mentor_name[0] %>">&nbsp;&nbsp;<%= @mentor_name[0] %>
              </div>
              <div class="mentor_list_content">
                <input type="checkbox" name="chk_info[]" value="<%= @mentor_name[1] %>">&nbsp;&nbsp;<%= @mentor_name[1] %>
              </div>
              <div class="mentor_list_content">
                <input type="checkbox" name="chk_info[]" value="kangmao">&nbsp;&nbsp;kangmao
              </div>
            </div>
            <input type="submit" class="real_send_sheet_submit" value="submit">
          </form>
        </div>
        <div class="send_sheet_button">
          견적서 보내기
        </div>
      </div>
    </div>
  </section>
</article>

<script>
  $('.send_sheet_button').click(function(){
    $('.real_send_sheet_submit').trigger("click");
  })
</script>

