<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Admin page
                    </a>
                </li>
               
                <li>
                    <a href="/admin_all">전 회원 관리</a>
                </li>
                <li>
                    <a href="/admin_mentor">멘토 관리</a>
                </li>
                <li>
                    <a href="/admin_apply">멘토 신청</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>멘토 신청자 관리</h1>
                        <% @mentor_request.each do |x| %>
						    <form method = "post" action="/admit">
						        <div class="form-group">
						            <label for="area_<%= x.id %>">멘토링 지역</label>
						            <input type="text" class="form-control" name="area" id="area_<%= x.id %>" value="<%= x.area %>">
						        </div>
						        <div class="form-group">
						            <label for="area_<%= x.id %>">여행했던 기간</label>
						            <input type="text" class="form-control" id="period_<%= x.id %>" value="<%= x.period %>">
						        </div>
						        <div class="form-group">
						            <label for="area_<%= x.id %>">여행 내용</label>
						            <textarea class="form-control" id="content_<%= x.id %>"><%= x.content %></textarea>
						        </div>
						        <input type="hidden" name="hidden_personal_id" value="<%= x.personal_id %>">
						        <button type="submit" class="btn btn-default">승인</button>
						    </form>
						<% end %>
						<p></p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>
