<header>
    <div class="container">  
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="/">
                <img id="logo" src="http://www.ensembletravel.com/assets/img/icon/independent-travel-circle.svg"/>
                </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-4 col-lg-5">
            </div>
            <div class="col-xs-7 col-sm-7 col-md-6 col-lg-5 menu_space">
                <nav>
                    <ul class="menu_search_list">
                        <li class="service"><a href="/service">서비스</a></li>
                        <li><a>도움말</a></li>
                        <li><a href="/mypage">안녕하세요! <%= @user.username %>님</a></li>
                        <% if @user.grade != 1 %>
                        <li><a href="/admin">관리자 페이지</a></li>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </div>
        </div>
</header>

<article>
    <section>
        <div class="search_section">
            <form method="post" action="/search_list">
                <div class="form-group search_input container">
                    <div class='row'>
                        <input list="test" class="form-control city" name="region" id="search" placeholder="나라 혹은 도시" autocomplete="off">
                        <datalist id="test">
                            <% @region.each do |x| %>
                                <option value="<%= x.region %>">
                            <% end %>
                        </datalist>
                        <button class="form-control button">
                            <span>검색</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <section>
        <div class="service1_section">
            <div class="guide_section">
                <h2>완벽한 여행을 책임질 추천 가이드</h2>
                <h4>뛰어난 가이드들이 여러분을 기다리고 있습니다.</h4>
                <ul class="guide_grid">

                    <% @all_users.each do |p| %>
                        <% if @user_region == p.region %>
                            <li class="item">
                                <div class="box">
                                    <% unless p.user_img_url.nil? %>   
                                    <img class="img-responsive" alt="a" src="<%= p.user_img_url%>">
                                    <%end%>
                                    <a href="/mentor_page/<%= p.id%>">
                                    <h3><%= p.username %></h3>
                                    <h4><%= p.region %></h4>
                                    </a>
                                </div>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </section>
    
</article>