<h1>모임일정</h1>
<a href = "/users/sign_out">Logout</a><br>
<div class="container">
    <%= @user.username %> 님 안녕하세요!<br>
    <%= @user.phone %> 님 안녕하세요!<br>
    
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create_meeting">모임 등록하기</button>
    
    <% @posts.each do |p|%>
       
        <div class="col-sm-4">
          <div class="thumbnail">
            <div class="overlay">
              <i class="fa fa-share md"></i>
            </div>
            <a href = "/meeting_detail/<%= p.id%>">
             <% unless p.image_url.nil? %>
                <img class="img-responsive" alt="a" src="<%= p.image_url%>">
             <%else%>
                <img class="img-responsive" alt="a" src="http://www.conradseoul.co.kr/_images/conradseoul/main/main_vis01.jpg">
             <%end%>
            </a>
          </div>
          
          <div class="row">
            <div class="col-md-3">
              <h3><span class="label label-info"><%= p.meet_time%></span></h3>
            </div>
            <div class="col-md-9">
                <strong><%= p.title%></strong><br>
                <em>at <%= p.where%></em><br>
                <span class="small">1:00 PM - 4:00 PM</span>
            </div>
          </div>
        </div>
        
    <%end%>
    
    
    



    
</div>

<!-- Modal -->
<div id="create_meeting" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">모임 등록</h4>
      </div>
      <div class="modal-body">
        
        <form action = "/meeting/register_meeting" method = "POST" enctype = "multipart/form-data">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title">
          </div>
          
          <div class="form-group">
            <label for="about">어디서:</label>
            <input type="text" class="form-control" name="about">
          </div>
          
          <div class="form-group" >
            <label for="where">Where:</label>
            
            <select name="region">
              <option value="national">국내</option>
              <option value="abroad">해외</option>
            </select>
            <input type="text" class="form-control" name="where">
          </div>
          
          <div class="form-group">
            <label for="meet_time">날짜:</label>
            <input type="text" class="form-control" name="meet_time">
          </div>
          
          <div class="form-group">
            <label for="total_num">정원:</label>
            <input type="text" class="form-control" name="total_num">
          </div>
          
          <div class="form-group">
            <label for="content">Detail:</label>
            <textarea type="text" class="form-control" name="content"></textarea>
          </div>
          
      <form action="demo_form.asp">
          <input type="file" name="pic" accept="image/*">
          <input type="submit">
      </form>
        <!--  <button type="submit" class="btn btn-default">등록</button>-->
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>


<script>
  
   $(function(){

    $(".dropdown-menu li a").click(function(){

      $(".btn:first-child").text($(this).text());
      $(".btn:first-child").val($(this).text());

   });

});
  
  
</script>